[submodule "libraries/MemoryFree"]
	path = libraries/MemoryFree
	url = https://github.com/McNeight/MemoryFree.git
[submodule "test/libraries/Catch"]
	path = test/libraries/Catch
	url = https://github.com/philsquared/Catch.git
[submodule "libraries/Sleep_n0m1"]
	path = libraries/Sleep_n0m1
	url = https://github.com/n0m1/Sleep_n0m1.git
[submodule "libraries/RTClib"]
	path = libraries/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "libraries/SdFat"]
	path = libraries/SdFat
	url = https://github.com/greiman/SdFat.git
[submodule "libraries/Arduino-PCF8574"]
	path = libraries/Arduino-PCF8574
	url = https://github.com/Beirdo/Arduino-PCF8574.git
[submodule "libraries/AM2321"]
	path = libraries/AM2321
	url = https://github.com/wangdong/AM2321.git
